body,
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

.bold {
  font-weight: bold;
}

.item-total {
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

.item-name {
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.green {
  color: #00b050;
}

.blue {
  color: #0070c0;
}

.red {
  color: #ff0000;
}

.white {
  color: white;
}

.bg-red {
  background-color: #ff0000;
}

.bg-black {
  background-color: black;
}

h5 {
  font-size: 16px;
}

.game-board-wrapper {
  background-color: white;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 1200px;
}

.transaction-list-wrapper {
  background-color: rgb(253, 251, 221);
  padding: 3px;
  padding-top: 85px;
  width: 23%;
}

.transaction-list {
  font-size: 11px;
  height: 95%;
  margin: 0 auto;
  overflow-x: hidden;
}

.transaction-items-headers {
  display: flex;
  text-align: center;
}

.transaction-items-header-number {
  margin-top: 6px;
  width: 15%;
}

.transaction-items-header-description {
  margin-top: 6px;
  text-align: left;
  width: 100%;
}

.transaction-items-header-description h3 {
  margin: 0;
}

.transaction-active {
  font-weight: bold;
}

.center {
  text-align: center;
}

.board-wrapper {
  display: flex;
  width: 80%;
}

.customer-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 80%;
  padding-top: 90px;
  text-align: center;
  width: 15%;
}

.customer-wrapper-customers ul {
  margin-bottom: 5px;
}

.customer-wrapper-wells-fargo-bank,
.customer-wrapper-us-bank {
  margin-top: 125px;
}

.customer-wrapper-wells-fargo-bank h5,
.customer-wrapper-us-bank h5 {
  margin-bottom: 5px;
}

.income-balance-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.operating-wrapper {
  padding-left: 10px;
  width: 20%;
}

.rdi-brand-wrapper {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
}

.income-balance-inner-wrapper {
  border: 3px solid black;
  display: flex;
}

.assets-liability-wrapper {
  display: flex;
}

.assets-liability-wrapper h5 {
  margin-top: 0;
  text-align: center;
}

.assets-wrapper {
  border-right: 1px dashed black;
}

.assets-wrapper ul li span {
  margin-top: 10px;
}

.assets-wrapper ul li:first-child span {
  margin: 0;
}

.income-statement,
.balance-sheet {
  background-color: #f2f2f2;
  border: 1px solid black;
  margin: 3px;
}

.income-statment {
  width: 40%;
}

.income-statement h3 {
  margin-top: 2px;
  text-align: center;
}

.totals-wrapper {
  border-top: 1px dashed black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.balance-sheet {
  width: 60%;
}

.balance-sheet h3 {
  margin-top: 2px;
  text-align: center;
}

.income-statement ul li,
.balance-sheet ul li,
.operating-wrapper-inner ul li,
.investing-inner ul li,
.financing-inner ul li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.income-statement ul li a,
.balance-sheet ul li a,
.operating-wrapper-inner ul li a,
.investing-inner-list ul li a,
.investing-inner-list li a,
.financing-inner-list li a {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.income-statement ul li .item-name,
.balance-sheet ul li .item-name {
  width: 60%;
}

.net-assets h5 {
  border-bottom: 1px dashed black;
  margin-top: 1px;
  padding-bottom: 1px;
  text-align: center;
}

.net-assets-inner-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  margin-top: -20px;
  justify-content: space-evenly;
}

.operating-wrapper {
  padding-top: 100px;
}

.operating-wrapper h5 {
  margin: 0;
}

.test-active {
  background-color: yellow;
}

.operating-inner-list li span.red,
.investing-inner-list li span.red,
.financing-inner-list li span.red {
  color: black;
}